<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hello!</title>
    <meta name="description" content="description"/>
    <meta name="author" content="author" />
    <meta name="keywords" content="keywords" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="shortcut icon" href="favicon.ico" type="image/vnd.microsoft.icon" />
    <link rel="stylesheet" href="./stylesheet.css" type="text/css" />
  </head>
  <body>
    <div class="weather-app">
        <div class="card">
            <!-- First column with temperature and condition -->
            <div class="column">
                <div class="temperature">
                    72°F
                </div>
                <div class="condition">
                    Partly Cloudy
                </div>
            </div>

            <!-- Second column with weather details -->
            <div class="column details">
                <div class="row">
                    <div>Humidity: 78%</div>
                    <div>Wind Speed: NA</div>
                </div>
                <div class="row">
                    <div>Barometer: 30.21 in (1022.0 mb)</div>
                    <div>Dewpoint: 58°F (14°C)</div>
                </div>
                <div class="row">
                    <div>Visibility: 10.00 mi</div>
                    <div>Last update: 30 Sep 6:51 pm EDT</div>
                </div>
            </div>
        </div>
    </div>
  </body>
</html>